html, body {
    height: 100%;
    margin: 0;
  }
  
footer {
    background-color: #253858;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box; /* Include padding and border in the width calculation */

  }