.header {
    background-color:#0052cc;
    color: #fff;
    padding: 10px;
    width: 100%;
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    overflow: hidden;
  }